
<!-- block컨텐트 안에 내용만 바꿀수있게 -->
{% extends 'base.html' %}

{% block content %}
    <div style= "border-radius: 1rem; margin: 2rem; text-align: center">
        <h1 style="font-family: 'Architects Daughter', cursive;">
            Hellow World LIST!
        </h1>

<!--        <form action="/accounts/hello_world/" method="POST" >-->
        <form action="{% url 'accountapp:hello_world' %}" method="POST" >
            {% csrf_token %}
            <div>
                <input type="text" name="hello_world_input">
            </div>
            <div class="mt-3 mb-4">
                <input type="submit" value="POST" class="btn btn-primary">
            </div>
            
        </form>

        {% if hello_world_list %}
            {% for hello_world in hello_world_list %}
                <h1>
                    {{hello_world.text}}
                </h1>
            {% endfor %}
        {% endif %}
        
    </div>
{% endblock  %}

