<!-- margin넣을 때 피라미터 2개는 상하, 좌우 즉 상하 2rem 좌우 0rem -->
<div class="pragmatic_header">
    <div>
        <a href="{% url 'articleapp:list' %}" style="text-decoration:none; color:black;">
            <h1 class="pragmatic_logo">Pragmatic</h1>
        </a>    
    </div>

    <div>
        <a href=" {% url 'articleapp:list' %} " style="text-decoration:none">
            <span>Articles</span>
        </a>
        <span>nav2</span>
        <span>nav3</span>
        {% if not user.is_authenticated %}
<!--         style="text-decoration:none"-->
        <a href="{% url 'accountapp:login' %}?next={{ request.path }}" style="text-decoration:none">
            <span>login</span>
        </a>
        <a href="{% url 'accountapp:create' %}" style="text-decoration:none">
            <span>SignUp</span>
        </a>
        {% else %}
        <a href="{% url 'accountapp:detail' pk=user.pk %}" style="text-decoration:none">
            <span>MyPage</span>
        </a>
<!--        <a href="{% url 'accountapp:logout' %}?next={{ request.path }}" style="text-decoration:none">-->
        <a href="{% url 'accountapp:logout' %}?next={% url 'accountapp:hello_world' %}" style="text-decoration:none">
            <span>logout</span>
        </a>

        {% endif %}
    </div>
</div>