<!-- margin넣을 때 피라미터 2개는 상하, 좌우 즉 상하 2rem 좌우 0rem -->
<div class="pragmatic_header">
    <div>
        <h1 class="pragmatic_logo">Pragmatic</h1>
    </div>

    <div>
        <span>nav1</span>
        <span>nav2</span>
        <span>nav3</span>
        {% if not user.is_authenicated %}
        <a href="{% url 'accountapp:login' %}?next={{request.path}}">
            <span>login</span>
        </a>
        {% else %}
        <a href="{% url 'accountapp:logout' %}?next={{request.path}}">
            <span>logout</span>
        </a>
        {% endif %}
    </div>
</div>